In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv(
    "https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Students%20Performance.csv"
)

df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [ ]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [ ]:
import numpy as np

# Numeric columns → mean
numeric_cols = df.select_dtypes(include=np.number).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

# Categorical columns → mode
categorical_cols = df.select_dtypes(include='object').columns
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [ ]:
before = df.shape[0]

df = df.drop_duplicates()

after = df.shape[0]

print("Rows before:", before)
print("Rows after:", after)

Rows before: 1000
Rows after: 1000

In [ ]:
df['gender'] = df['gender'].astype('category')
df.dtypes

gender                         category
race/ethnicity                   object
parental level of education      object
lunch                            object
test preparation course          object
math score                        int64
reading score                     int64
writing score                     int64
dtype: object

In [ ]:
df['average_score'] = (
    df['math score'] +
    df['reading score'] +
    df['writing score']
) / 3

df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average_score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333

In [ ]:
def performance_category(score):
    if score >= 75:
        return "High"
    elif score >= 50:
        return "Medium"
    else:
        return "Low"

df['performance_category'] = df['average_score'].apply(performance_category)

df[['average_score', 'performance_category']].head()

   average_score performance_category
0      72.666667               Medium
1      82.333333                 High
2      92.666667                 High
3      49.333333                  Low
4      76.333333                 High

In [ ]:
df.to_csv("cleaned_data.csv", index=False)

### Data Cleaning & Preprocessing Notes

1. The dataset was loaded using pandas `read_csv()` to begin the data analysis process.
2. Initial exploration was done using `head()` and `info()` to understand the dataset structure and datatypes.
3. Missing values were checked using `isnull().sum()` to identify columns requiring cleaning.
4. Although no missing values were found, standard imputation techniques were applied:
   - Mean imputation for numerical columns
   - Mode imputation for categorical columns
5. Duplicate records were checked and removed using `drop_duplicates()` to ensure data quality.
6. Datatype conversion was performed using `astype()` to optimize memory usage and improve analysis accuracy.
7. A new feature `average_score` was created by combining math, reading, and writing scores.
8. Another derived column `performance_category` was created to classify students based on their average score.
9. The cleaned and transformed dataset was saved as a CSV file for further analysis and reporting.